<!-- <!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body> -->
 

<div ng-controller="ass2Controller">
        <div >
                Enter a number:
                <input  type="number" ng-model="number">
                <button class="btn btn-primary btn-large center"  ng-click="findSquare()">X<sup>2</sup></button>
                 <button class="btn btn-primary btn-large center" ng-click="findCube()">X<sup>3</sup></button>
                 <button class="btn btn-primary btn-large center" ng-click="findFactorial()">X!</button>
                <div>{{answer}}</div>

                
            </div>

</div>

 
